html {
   height: 100%;
}
body {
   background-postion: center center;
   background-size: cover;
}
   body.bg_flag {
http://www.mch.govt.nz/sites/default/files/nz%20flag%20wikipedia_0.png
}
h1 {
    color: purple;
}
div {
   background-colour: #800000;
}
p {
    color: indigo;
}

body {
    margin: 0; /*gets rid of white space*/
}

ul {
    list-style-type: none; /*removes white space*/
    background: White;
    width: 100px;
    padding: 0; /*removes padding on the left*/
    margin: 0;
}

li a {
    display: block;
    text-decoration:none;
    color: Black;
    font-family: arial;
    padding: 10px;
    text-align: center;
}

li a:hover {
    background: black;
    color: white;
}
