html {
   height: 100%;
}
body {
   background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Flag_of_New_Zealand.svg/1280px-Flag_of_New_Zealand.svg.png");
   background-postion: center center;
   background-size: cover;
}
h1 {
    color: purple;
}
div {
   background-colour: LightGrey
}
p {
    color: indigo;
}

body {
    margin: 0; /*gets rid of white space*/
}

ul {
    list-style-type: none; /*removes white space*/
    background: White;
    width: 100px;
    padding: 0; /*removes padding on the left*/
    margin: 0;
}

li a {
    display: block;
    text-decoration:none;
    color: Black;
    font-family: arial;
    padding: 10px;
    text-align: center;
}

li a:hover {
    background: black;
    color: white;
}
